/* app/static/css/style.css */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body, html {
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Spectral', serif;
}

body, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.bg-light{
    background-color:#0f056b!important;
    transition: opacity: 0.42;
}

.navbar.scrolled {
    background: #0f056b;
    opacity: 0.53;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-light.navbar-nav.nav-link{
    color:white;
}

.navbar-light .navbar-nav .active>.nav-link{
    color:white;
}

.navbar-light .navbar-nav .nav-link{
    color:white;
}

.navbar-light .navbar-brand{
    color:white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #2C3E50;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #DC7633;
}

a.navbar-brand.topnav {
    font-size: 22px;
}
/*
.navbar-light .navbar-brand{
    color: #007bff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #007bff;
}

.navbar-light .navbar-nav .nav-link{
    color: #007bff;
}*/

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.wrapper_button{
    position: relative;
}

.estimer-button {
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 125px;
    left: 0;
    width: 100%;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: #34495E;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.btn:hover, .btn:focus{
    color: #fff;
    outline: 0;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

.btn.third{
    display: inline-block;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 3px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*
.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/citybackground.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 70%, #161616 100%), url("../img/citybackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}

*/

/*
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
*/
.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.section-1{
    margin-top:60px;
    margin-bottom:150px;
}

.wrapper-logo{
    text-align:center;
}

.block-text{
    margin:10px;
}


/*************** ajout header *********************/





.collapse.navbar-collapse{
    margin-right: 25px;
}

.wrapper-text-home{
    position: relative;
    padding-bottom: 50px;
    height: 100%;
}

.content-text{
    text-align: center;
    position: relative;
    bottom: -150px;
}

.jumbotron {
    /*position: relative;
    background:none;*/
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/citybackground.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 70%, #161616 100%), url("../img/citybackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}

.jumbotron.pt-6{
    height: 580px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}


.estimer-button {
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 125px;
    left: 0;
    width: 100%;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: #34495E;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.btn:hover, .btn:focus{
    color: #fff;
    outline: 0;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

.btn.third{
    display: inline-block;
}

/****************************/

.box {
  display: block;
  background-color: transparent;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}