{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Esti'Maison</h1>
                    <h3>Notre solution IA : </h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper_button">
                    <div class="estimer-button">
                        <a href="#"><button class="btn third">Estimez votre bien !</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}