{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="box-graphs" align="middle">
    <div><img src="{{url_for('static', filename='img/fig_carte.png')}}" alt="dashboard" /></div>
    <div><img src="{{url_for('static', filename='img/fig_income.png')}}" alt="dashboard" /></div>
    <div><img src="{{url_for('static', filename='img/fig_price.png')}}" alt="dashboard" /></div>
    <div><img src="{{url_for('static', filename='img/fig_oceanproximity.png')}}" alt="dashboard" /></div>
    <div>Five</div>
    <div>Six</div>
    <div>Seven</div>
    <div>Eight</div>
</div>
{% endblock %}