<!doctype html>
<html lang="fr">

<head>
	<title>Estimaison</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
	<div align="middle">
		<img src="{{url_for('static', filename='img/logo_estimaison.png')}}">
	</div>
	
    <h1 align="middle">Outils d'estimation de bien immobilier</h1>

    <div align="middle">
        <img src="{{url_for('static', filename='img/dashboard.png')}}" alt="dashboard" />
    </div>	

	
	<footer> 
		<div align="middle">
			<br><br>Footer
		</div>
	</footer> 

</body>
</html>